.flexfooter{
    display: flex;
}
.globalFooter, .legalFooter{
    flex: 1;
    font-family: sans-serif;
    font-size: 0.8em;
    color: #8b8b8e;
}
.globalFooter strong{
    color: #454547;
}
.globalFooter dt{
    padding-top: 10px;
}
.globalFooter a,
.legalFooter a{
    text-decoration: none;
    color: #8b8b8e;
}

.legalFooter dl{
    display: flex;
    column-gap: 10px;
}